body {
  background-color: #ffebad;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

td,tr, th {
  padding: 2rem;
}


img {
  width: 500px;
}
nav {
  display: flex;
}
h1 {
  color: #ffa535;
}

